body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
}

.inline {
  display: inline-block;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* FORM */
label {
  display: block;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.header-menu {
  display: flex;
  margin-left: auto;
}

.main-menu .nav {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
}

.main-menu li {
  margin-right: 1rem;
}

.welcome {
  margin-right: 1rem;
}

.logo {
  font-family: "Didact Gothic";
  font-size: 40px;
  margin-left: 1rem;
}

.burger {
  display: none;
  margin: 1em;
  width: 40px;
}

.burger:after,
.burger:before,
.burger div {
  background-color: black;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}

.burger.active:before {
  transform: translateY(12px) rotate(135deg);
}

.burger.active:after {
  transform: translateY(-12px) rotate(-135deg);
}

.burger.active div {
  transform: scale(0);
}

@media only screen and (max-width: 769px) {
  .header {
    justify-content: space-between;
    position: relative;
  }

  .header-menu, .burger, .main-menu .nav {
    display: block;
  }

  .welcome, .main-menu li {
    margin: 0;
    text-align: center;
  }

  .main-menu li {
    padding: .5rem;
  }

  .header-menu > *:first-child {
    margin-top: .5rem;
  }

  .header-menu > *:last-child {
    margin-bottom: .5rem;
  }

  .header-menu, .header-menu > * {
    transition: all .3s ease-in-out;
  }

  .header-menu:not(.closed), .header-menu:not(.closed) > * {
    transition: all .5s ease-in-out;
  }

  .header-menu {
    position: absolute;
    background: white;
    width: 100%;
    left: 0;
    top: calc(100% - 1rem);
    z-index: 9999;
    max-height: 100vh;
  }

  .header-menu.closed {
    max-height: 0;
    overflow: hidden;
  }

  .header-menu > * {
    opacity: 1;
  }

  .header-menu.closed > * {
    opacity: 0;
  }

  .header-menu .hide {
    display: block;
  }
}

/*-------- LAYOUT ---------*/
/* Login */
.content {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 3rem;
}

.content-sm {
  max-width: 350px;
}

.content-med {
  max-width: 1400px;
}

/* HOME */
.search-criteria {
  padding: 0 1rem;
}
.location-search {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.category-filter {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.category-select {
  width: 100%;
  max-width: 500px;
  margin-right: 1rem;
}

.listing-map {
  position: relative;
}

.listing-map > div {
  position: absolute;
  top: 0;
  bottom: 0;
}

.map-item-listing, .item-listing-map {
  height: calc(100vh - 219px);
}

.map-item-listing {
  left: 0;
  right: 250px;
  padding: 1rem;
  overflow: auto;
  max-width: calc(250px - 32px);
}

.item-listing-map {
  left: 250px;
  right: 0;
  width: calc(100vw - 250px);
}

/* ITEM DETAILS */
.item-details {
  position: relative;
  display: flex;
}

.item-map {
  width: 100%;
  height: 400px;
}

.item-details .section {
  padding: 0 1rem;
}

.item-section:not(:last-child), .timer-btns .column {
  margin-bottom: 1rem;
}

.item-details .section.two {
  flex-grow: 1;
}

@media only screen and (max-width: 769px) {
  .item-details {
    flex-direction: column;
  }

  .item-details .section:not(.three) {
    padding: 0;
  }

  .item-details .section.two {
    padding-bottom: 80px;
  }

  .item-details .section.three {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
  }

  .timer-btns {
    display: flex;
    padding: 0 !important;
  }

  .timer-btns .column {
    flex: 1 1 50%;
    padding: 1rem;
    margin-bottom: 0;
  }
}

/* #mapid, .leaflet-container {
  height: 400px;
  width: 400px;
} */

.item-detail-img {
  max-height: 300px;
  margin: 1rem;
}


.listing-item, .results-number {
  margin-bottom: 1rem;
}

.item-title {
  font-weight: 600;
}

.item-thumbnail {
  max-height: 80px;
  max-width: 100%;
}

.item-preview {
  max-height: 100px;
  margin: .5rem;
}

.align-right {
  text-align: right;
}

.new-item label {
  display: block;
  margin: 1rem 0;
}

.leaflet-control-geosearch.bar form input {
  padding-right: 13px;
}

.pulseIcon {
}

.pulseIcon:before, .pulseIcon:after {
  display: block;
  content: "";
}

.pulseIcon:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}

.pulseIcon:before {
  position: relative;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: #01a4e9;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

/* Toggle */
.switcher {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  margin: 0 0 1rem 0;
}
.switcher input {
  appearance: none;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #1E1E1E;
  outline: none;
  font-family: sans-serif;
  margin: 0;
}
.switcher input:before, .switcher input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
}
.switcher input:before {
  content: 'Requests';
  left: 20px;
}
.switcher input:after {
  content: 'Donations';
  right: 20px;
}
.switcher label {
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  border-radius: 20px;
}
.switcher.switcher-1 input {
  transition: .25s -.1s;
}
.switcher.switcher-1 input:checked {
  background-color: #696969;
}
.switcher.switcher-1 input:checked:before {
  color: #FFFFFF;
  transition: color .5s .2s;
}
.switcher.switcher-1 input:checked:after {
  color: #CCCCCC;
  transition: color .5s;
}
.switcher.switcher-1 input:checked + label {
  left: 10px;
  right: 100px;
  background: #1E1E1E;
  transition: left .5s, right .4s .2s;
}
.switcher.switcher-1 input:not(:checked) {
  background: #1E1E1E;
  transition: background .5s -.1s;
}
.switcher.switcher-1 input:not(:checked):before {
  color: #CCCCCC;
  transition: color .5s;
}
.switcher.switcher-1 input:not(:checked):after {
  color: #1E1E1E;
  transition: color .5s .2s;
}
.switcher.switcher-1 input:not(:checked) + label {
  left: 100px;
  right: 10px;
  background: #FFFFFF;
  transition: left .4s .2s, right .5s, background .35s -.1s;
}

@keyframes turn-on {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes turn-off {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
