body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.listing-map {
  position: relative;
}

.listing-map > div {
  position: absolute;
  top: 0;
  bottom: 0;
}

.map-item-listing {
  left: 0;
  right: 250px;
}

.item-listing-map {
  left: 250px;
  /* left: 0; */
  right: 0;
}

/* #mapid, .leaflet-container {
  height: 400px;
  width: 400px;
} */

.item-detail-img {
  max-height: 300px;
  margin: 1rem;
}

.item-thumbnail {
  max-height: 80px;
  max-width: 100%;
}

.item-preview {
  max-height: 100px;
  margin: .5rem;
}

.align-right {
  text-align: right;
}
