body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#mapid, .leaflet-container {
  height: 400px;
  width: 400px;
}

.item-detail-img {
  max-height: 300px;
  margin: 1rem;
}

.item-thumbnail {
  max-height: 80px;
}

.item-preview {
  max-height: 100px;
  margin: .5rem;
}

.align-right {
  text-align: right;
}
